@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: hsl(0, 0%, 8%);
    height:100vh;
    color:hsl(0, 0%, 100%);
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
.container {
    background-color: hsl(0, 0%, 12%);
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 32px;
    border-radius: 10px;
    width: 35vh;
}
img {
    width: 75px;
    border-radius: 32.5px;

}
.links {
    display: flex;
    flex-direction: column;
    gap: 16px;

}
a {
    background-color: hsl(0, 0%, 20%);
    text-decoration: none;
    border-radius: 10px;
    padding: 16px 8px;
    color:hsl(0, 0%, 100%);
    font-weight: 600;

}