/* Main rulus of the page */
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Outfit:wght@100..900&display=swap');
body {
    
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    background-color: hsl(47, 88%, 63%);
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    height: 100vh;
    gap: 16px;
}

.container {
    background-color: hsl(0, 0%, 100%);
    max-width:38vh;
    min-height:max-content;
    border: 1px solid hsl(0, 0%, 7%);
    border-radius: 7%;
    padding:32px 50px 32px 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    box-shadow: 10px 10px 1px hsl(0, 0%, 7%);
}
.header-img img {
    width: 100%;
    object-fit: contain;
    border-radius: 7%
}
.main-article span  {
    background-color: hsl(47, 88%, 63%);
    font-weight: bold;
    padding: 12px;
    border-radius: 5px;
}
.main-article .para-style {
    color:hsl(0, 0%, 42%) ;
}
h1 {font-weight: 800;
  font-size: 28px;
}
.person-img {
    display: flex;
    align-items: center;
    gap: 16px;
}